{% extends "base.html" %}

{% block header %}
<div class="pt-5 pb-3">
    {% if student %}
    <h2>Editing: {{student.nama}}</h2>
    {% else %}
    <h2>New Student</h2>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <h4>Akun SSO</h4>
    <div class="mb-3">
        <label for="npm" class="form-label">NPM</label>
        <input
            class="form-control"
            type="number"
            id="npm"
            name="npm"
            value="{{ student.npm | default('') }}"
            {% if student %}
            readonly
            {% endif %}
        >
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
            class="form-control"
            type="text"
            id="username"
            name="username"
            value="{{ student.username | default('') }}"
            maxlength="128"
            {% if student %}
            readonly
            {% endif %}
        >
    </div>
    <h4>Data Diri</h4>
    <div class="mb-3">
        <label for="nama" class="form-label">Nama</label>
        <input
            class="form-control"
            type="text"
            id="nama"
            name="nama"
            value="{{ student.nama | default('') }}"
            maxlength="100"
        >
    </div>
    <div class="mb-3">
        <label class="form-label">Jurusan</label>
        <br>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input
                type="radio"
                class="btn-check"
                id="ilmu_komputer"
                autocomplete="off"
                name="jurusan"
                value="ilmu_komputer"
                {% if student and student.jurusan == "ilmu_komputer" %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="ilmu_komputer">Ilmu Komputer</label>
            <input
                type="radio"
                class="btn-check"
                id="sistem_informasi"
                autocomplete="off"
                name="jurusan"
                value="sistem_informasi"
                {% if student and student.jurusan == "sistem_informasi" %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="sistem_informasi">Sistem Informasi</label>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">House</label>
        <br>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            {% for house in houses %}
            <input
                type="radio"
                class="btn-check"
                id="{{ house.nama }}"
                autocomplete="off"
                name="house"
                value="{{ house.nama }}"
                {% if student and house.nama == student.house.nama %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="{{ house.nama }}">{{ house.nama }}</label>
            {% endfor %}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Apakah ketua house?</label>
        <br>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input
                type="radio"
                class="btn-check"
                id="ya"
                autocomplete="off"
                name="ketua_house"
                value="ya"
                {% if student and student.house_led %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="ya">Ya</label>
            <input
                type="radio"
                class="btn-check"
                id="tidak"
                autocomplete="off"
                name="ketua_house"
                value="tidak"
                {% if student and not student.house_led %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="tidak">Tidak</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="ttl" class="form-label">TTL</label>
        <input
            class="form-control"
            type="date"
            id="ttl"
            name="ttl"
            value="{{ student.ttl | default('') }}"
        >
    </div>
    <div class="mb-3">
        <label for="hobi" class="form-label">Hobi</label>
        <textarea name="hobi" id="hobi" class="form-control">{{student.hobi | default('') }}</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">IT Interest</label>
        <br>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input
                type="checkbox"
                class="btn-check"
                id="data_science"
                autocomplete="off"
                name="interests"
                value="data_science"
                {% if student and "data_science" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="data_science">Data Science</label>
            <input
                type="checkbox"
                class="btn-check"
                id="networking_&_security"
                autocomplete="off"
                name="interests"
                value="networking_&_security"
                {% if student and "networking_&_security" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="networking_&_security">Networking & Security</label>
            <input
                type="checkbox"
                class="btn-check"
                id="competitive_programming"
                autocomplete="off"
                name="interests"
                value="competitive_programming"
                {% if student and "competitive_programming" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="competitive_programming">Competitive Programming</label>
            <input
                type="checkbox"
                class="btn-check"
                id="app_development"
                autocomplete="off"
                name="interests"
                value="app_development"
                {% if student and "app_development" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="app_development">App Development</label>
            <input
                type="checkbox"
                class="btn-check"
                id="web_development"
                autocomplete="off"
                name="interests"
                value="web_development"
                {% if student and "web_development" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="web_development">Web Development</label>
            <input
                type="checkbox"
                class="btn-check"
                id="ui/ux_design"
                autocomplete="off"
                name="interests"
                value="ui/ux_design"
                {% if student and "ui/ux_design" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="ui/ux_design">UI/UX Design</label>
        </div>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input
                type="checkbox"
                class="btn-check"
                id="game_development"
                autocomplete="off"
                name="interests"
                value="game_development"
                {% if student and "game_development" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="game_development">Game Development</label>
            <input
                type="checkbox"
                class="btn-check"
                id="artificial_intelligence"
                autocomplete="off"
                name="interests"
                value="artificial_intelligence"
                {% if student and "artificial_intelligence" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="artificial_intelligence">Artificial Intelligence</label>
            <input
                type="checkbox"
                class="btn-check"
                id="cloud_computing"
                autocomplete="off"
                name="interests"
                value="cloud_computing"
                {% if student and "cloud_computing" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="cloud_computing">Cloud Computing</label>
            <input
                type="checkbox"
                class="btn-check"
                id="product_manager"
                autocomplete="off"
                name="interests"
                value="product_manager"
                {% if student and "product_manager" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="product_manager">Product Manager</label>
            <input
                type="checkbox"
                class="btn-check"
                id="quality_assurance"
                autocomplete="off"
                name="interests"
                value="quality_assurance"
            >
            <label class="btn btn-outline-dark" for="quality_assurance">Quality Assurance</label>
            <input
                type="checkbox"
                class="btn-check"
                id="business_intelligence"
                autocomplete="off"
                name="interests"
                value="business_intelligence"
                {% if student and "business_intelligence" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="business_intelligence">Business Intelligence</label>
            <input
                type="checkbox"
                class="btn-check"
                id="internet_of_things"
                autocomplete="off"
                name="interests"
                value="internet_of_things"
                {% if student and "internet_of_things" in student.interests %}
                checked
                {% endif %}
            >
            <label class="btn btn-outline-dark" for="internet_of_things">Internet of Things</label>
        </div>
    </div>
    <h4>Sosial Media</h4>
    <div class="mb-3">
        <label for="twitter" class="form-label">Twitter</label>
        <input
            type="text"
            class="form-control"
            id="twitter"
            name="twitter"
            value="{{ student.twitter | default('') }}"
        >
    </div>
    <div class="mb-3">
        <label for="line" class="form-label">Line</label>
        <input
            type="text"
            class="form-control"
            id="line"
            name="line"
            value="{{ student.line | default('') }}"
        >
    </div>
    <div class="mb-3">
        <label for="instagram" class="form-label">Instagram</label>
        <input
            type="text"
            class="form-control"
            id="instagram"
            name="instagram"
            value="{{ student.instagram | default('') }}"
        >
    </div>
    <h4>Perkenalan diri</h4>
    <div class="mb-3">
        <label for="foto_diri" class="form-label">Foto Diri</label>
        <input
            class="form-control"
            type="file"
            id="foto_diri"
            name="foto_diri"
            multiple
            accept="image/jpeg, image/png"
        >
    </div>
    <div class="mb-3">
        <label for="video_diri" class="form-label">Video Diri</label>
        <input
            class="form-control"
            type="url"
            id="video_diri"
            name="video_diri"
            value="{{ student.video_diri | default('') }}"
        >
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Future Message</label>
        <textarea
            name="message"
            id="message"
            class="form-control"
            maxlength="400"
        >{{student.message | default('') }}</textarea>
    </div>
    <div class="mb-3">
        <label for="about" class="form-label">About Me</label>
        <textarea
            name="about"
            id="about"
            class="form-control"
            maxlength="600"
        >{{student.about | default('') }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>
{% endblock %}
