{% extends "base.html" %} 
{% block header %}
<div class="pt-5 pb-3">
    {% if sig %}
    <h2>Editing: {{sig.nama}}</h2>
    {% else %}
    <h2>New SIG</h2>
    {% endif %}
</div>
{% endblock %} 

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="nama" class="form-label">Nama</label>
        <input
            class="form-control"
            id="nama"
            name="nama"
            maxlength="128"
            value="{{ sig.nama | default('') }}"
        />
    </div>

    <div class="mb-3">
        <label for="detail" class="form-label">Detail</label>
        <textarea class="form-control" id="detail" name="detail">{{sig.detail | default('', True) }}</textarea>
    </div>

    <div class="mb-3">
        <label for="foto" class="form-label">Foto</label>
        <input
            class="form-control"
            type="file"
            id="foto"
            name="foto"
            accept="image/jpeg, image/png"
        />
    </div>

    <div class="mb-3 form-check">
        <label for="is_it_interest" class="form-label">IT interest</label>
        <input
            class="form-check-input"
            type="checkbox"
            id="is_it_interest"
            name="is_it_interest"
            {% if sig.is_it_interest %}
            checked
            {% endif %}
        />
    </div> 

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
